{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Talaash</title>
	<link rel="icon"  href="{% static 'core/favicon.ico' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'core/style.css' %}">
</head>
<body>
	<nav>
		<a href="https://github.com/coderGtm/Talaash">
			<img src="{% static 'core/github-mark.svg' %}" alt="">
		</a>
	</nav>
      <section class="section-1">
      	<img src="{% static 'core/Talaash_1.png' %}" class="logo">
		<br>
		<div id="domain-txt">For <a href="{{ root_url }}">{{ root_title }}  <img src="{% static 'core/link.png' %}" style="height:16px;" class="search-icon"></a></div>
      	<br><br>
		  <form action = "" method = "post">
			{% csrf_token %}
			<div class="s-box">
				<img src="{% static 'core/search.svg' %}" class="search-icon">
				{{ form }}
				<input type="submit" class="s-btn" value="Search">
			</div>
		</form>
      	<div class="credits">
			<p>A search-engine developed from scratch by Gautam Mehta and Divy Modi</p>
		</div>
      </section>
	  <footer>
		<h4>Talaash has crawled <em><strong>{{ totalScrappedUrls }}</strong></em> URLs until now. Last URL was crawled on <strong>{{ lastScrappedDate }} UTC</strong></h4>
	  </footer>
</body>
</html>