{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Talaash</title>
	<link rel="icon"  href="{% static 'core/favicon.ico' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'core/style.css' %}">
</head>
<body>
      <section class="section-1">
      	<img src="{% static 'core/Talaash_1.png' %}" class="logo">
      	<br><br>
		  <form action = "" method = "post">
			{% csrf_token %}
			<div class="s-box">
				<img src="{% static 'core/search.svg' %}" class="search-icon">
				{{ form }}
			</div>
			<input type="submit" value="Submit">
		</form>
      	<div class="lang">
      	</div>
      </section>
</body>
</html>